body  {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;
	margin: 0;
	padding: 0;
	min-width: 768px;
}

.index-content-title  {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
}

.feature-title  {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.form-title  {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
}

.catalog-title  {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.container  {
	width: 768px;
	margin: 0 auto;
}

.main-header  {
	display: flex;
	justify-content: space-between;
	height: 56px;
	margin-bottom: 58px;
	color: #000000;
	background-color: #ffffff;
}

.main-navigation a  {
	display: block;
  padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 46px;
	padding-right: 13px;
  color: #000000;
  text-decoration: none;
}

.main-navigation ul  {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li  {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
}

.header-logo  {
	width: 138px;
	position: absolute;
	padding-left: 312px;
	padding-right: 312px;
}

.features  {
	display: flex;
	justify-content: space-between;
}

.features-item  {
	width: 300px;
}

.index-content  {
  display: flex;
  justify-content: space-between;
}

.index-content form  {
  display: flex;
  justify-content: space-between;
}

.index-content-text  {
	flex-grow: 1;
}

.index-content-photo  {
	flex-grow: 2;
}

.main-footer .container  {
	display: flex;
}

.footer-hashtag  {
	width: 256px;
}

.footer-social  {
	width: 256px;
}

.footer-copyright  {
	width: 256px;
}

.result .container  {
	display: flex;
  justify-content: space-between;
  
}

.item  {
	display: flex;
	flex-direction: row;
	padding-left: 46px;
	padding-right: 46px;
	padding-bottom: 31px;
	padding-top: 31px;
	height: 150px;
	width: 768px;
}

.catalog-item  {
	display: flex;
	flex-direction: column;
}

.description  {
	padding-left: 31px;
}

.rating  {
	margin-left: auto;
}

.star  {
	margin-bottom: auto;
}

.rating-value  {
	margin-top: auto;
}

.star-img  {
  background: #81b3d2 url("img/star.png") no-repeat center;
}